In [2]:
n=int(input("table of "))
i=1
while i<=10:
    result=n*i
    print(n,"*",i,"=",result)
    i = i+1

table of  2

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [5]:
def test1():
    return "This is my first function return "
test1()+"sudh"

'This is my first function return sudh'

In [6]:
def test2():
    print("This is my first function return")

In [7]:
test2()

This is my first function return

In [8]:
test2()+"sudh"

This is my first function return

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

'''
print function return nahi karta balki wah print karta 
jab "sudh" ko concatenate kareinge to nahi hoga kyoki "sudh " ka retrun type to string hai but 
print "This is my first function return" koi return type nahi hai. so, yah error throw kar raha hai
'''

In [9]:
def test3():
    return "sudh",23,345.56,[1,2,3,3]

In [10]:
test3()

('sudh', 23, 345.56, [1, 2, 3, 3])

In [11]:
#yahan every value of test3() ke sabhi element ko assign kr diya hai
a,b,c,d = test3()

In [12]:
a

'sudh'

In [13]:
b

23

In [14]:
c

345.56

In [15]:
d

[1, 2, 3, 3]

In [21]:
def test4():
    a=5+6/7
    return a

In [24]:
test4()

5.857142857142857

In [37]:
def test5(a,b,c):
    d = a+b/c
    return d

In [39]:
test5()

TypeError: test5() missing 3 required positional arguments: 'a', 'b', and 'c'

yahan error eesliye aa raha hai kyoki maine test argument meing kuch return type ki 
value nahi insert kiya hai

In [38]:
test5(2,3,5)

2.6

In [41]:
def test6(a,b):
    return a+b

In [42]:
test6(3,4)

7

In [53]:
l=[1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]
#make a list only integer value with the help of funciton 
def test7(l):
    l1=[]
    for i in l:
        if type(i) ==int or type(i) ==float:
            l1.append(i)
    return l1

In [54]:
test7(l)

[1, 2, 3, 4]

In [55]:
l=[1,2,3,4,"sudh","kumar",[1,2,3,4,5,6]]

In [56]:
l

[1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]]

In [61]:
# select integer value and list with the help of function
def test8(a):
    l = []
    for i in a:
        if type(i)== list:
            for j in i:
                l.append(j)
        else:
            if type(i)==int or type(i)==float:
                l.append(i)
    return l

In [62]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

In [63]:
def test9(*args):
    return args

In [65]:
test9(1,2,3,4)
#it store the value in the form of tuple

(1, 2, 3, 4)

In [66]:
test9([1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]])

([1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6]],)

In [71]:
def test10(*ash):
    return ash
# we can pass any argument with the help of astric(*) because it allows multiple input by the user

In [72]:
test10(1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6])

(1, 2, 3, 4, 'sudh', 'kumar', [1, 2, 3, 4, 5, 6])

In [73]:
# how to return multi value
def test11(*ash,a):
    return ash,a

In [74]:
test11(1,3,4,53,4)

TypeError: test11() missing 1 required keyword-only argument: 'a'

In [75]:
test11(1,3,4,53,a=23)

((1, 3, 4, 53), 23)

In [76]:
def test12(**arg):
    return arg

In [77]:
type(test12())

dict

In [78]:
test12()

{}

In [80]:
test12(a=[1,2,3,4],b="sudh",c="kumar")

{'a': [1, 2, 3, 4], 'b': 'sudh', 'c': 'kumar'}